[submodule "External/BGFX/bx"]
	path = External/BGFX/bx
	url = git://github.com/bkaradzic/bx.git
[submodule "External/BGFX/bimg"]
	path = External/BGFX/bimg
	url = git://github.com/bkaradzic/bimg.git
[submodule "External/BGFX/bgfx"]
	path = External/BGFX/bgfx
	url = git://github.com/bkaradzic/bgfx.git
[submodule "External/IMGUI/imgui"]
	path = External/IMGUI/imgui
	url = git://github.com/ocornut/imgui.git
[submodule "External/brigand/brigand"]
	path = External/brigand/brigand
	url = https://github.com/edouarda/brigand.git
[submodule "External/glm"]
	path = External/glm
	url = https://github.com/g-truc/glm.git
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "External/imgui/imgui"]
	path = External/imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "External/cereal"]
	path = External/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "External/assimp"]
	path = External/assimp
	url = https://github.com/assimp/assimp.git
[submodule "External/delegates"]
	path = External/delegates
	url = https://github.com/marcmo/delegates.git
